@import "variables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.konvajs-content {
  position: absolute !important;
}

.el-button {
  font-weight: normal;
  border: 1px solid #333;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  &:focus {
    border: 1px solid #333;
  }
  &:disabled {
    border: 1px solid #333;
  }
  &.el-button--default {
    &:disabled {
      color: #999;
    }
  }
}

.el-button + .el-button {
  margin-left: 4px;
}

.el-button.el-button--default {
  color: #EEE;
  background: #555;
  &:hover {
    background: #666;
    border-color: #333;
  }
}

.el-button.is-plain {
  color: #DDD;
  background: #666;
  border-color: #222;
  &:hover {
    background: #777;
    color: #DDD;
  }
  &:focus {
    background: #777;
    color: #DDD;
  }
}

.el-input__inner {
  background-color: #333;
  color: #EEE;
  font-size: 13px;
  border: 1px solid #666;
  padding: 0 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25) inset;
  &:focus {
    color: #333;
    background-color: #EEE;
    border: 1px solid $prime_color;
  }
}

.el-input.is-disabled .el-input__inner {
  background-color: #444;
  border: 1px solid #666;
}

.el-color-picker--mini .el-color-picker__trigger {
  width: 38px;
  height: 24px;
  padding: 0;
  border: 0;
}

//.el-input__inner {
//  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25) inset;
//}

.el-input-number.is-controls-right .el-input__inner {
  padding-left: 0;
  padding-right: 35px;
}

.el-input-number--mini {
  width: 80px;
  line-height: 26px;
}

.el-input-number--mini .el-input__inner {
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25) inset;
}

.el-input-number__decrease, .el-input-number__increase {
  background: #555;
  color: #DDD;
}

.el-input-number__increase {
  border-left: 1px solid #555;
}

.el-input-number__decrease {
  border-right: 1px solid #555;
}

.el-input-number.is-controls-right .el-input-number__increase {
  border-bottom: 1px solid #333;
  border-left: none;
}

.el-input-number.is-controls-right .el-input-number__decrease {
  border-left: none;
}

.el-input-number.is-without-controls .el-input__inner {
  padding-left: 8px;
  padding-right: 0;
  text-align: left;

}

.el-input__inner ,.el-textarea__inner {
  &::-webkit-input-placeholder {
    color: #888;
  }
}

.el-textarea__inner {
  font-size: 13px;
  padding: 4px 6px;
  color: #DDD;
  background: #333;
  border: 1px solid #666;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25) inset;
  &:focus {
    color: #333;
    background-color: #EEE;
    border: 1px solid $prime_color;
  }
}

.el-color-picker__panel {
  position: absolute;
  z-index: 10;
  padding: 6px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #3C3F41;
  border: 1px solid #111;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.el-color-dropdown__btn {
  border: 1px solid #666;
  color: #EEE;
  background-color: #555;

}

.el-input-group__append, .el-input-group__prepend {
  background-color: #444;
  color: #3c97e0;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #666;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  padding: 0 3px;
  width: 15px;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}

.el-popover {
  background: #3b3e40;
  border: 1px solid #666;
  color: #FFF;
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #444;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #666;
}

//el-tabs

.el-tabs.el-tabs--card.el-tabs--top {
  border-bottom: 1px solid #2B2B2B;
  //display: flex;
  //flex-direction: column;
  //height: 100%;
  //.el-tabs__content {
  //  height: 100%;
  //  .el-tab-pane {
  //    height: 100%;
  //  }
  //}
}

.el-tabs--card > .el-tabs__header {
  border-bottom: 1.5px solid #555;
  //margin: 0;
  background-color: #333;
  margin: 0 0 0 1px;
}

.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

.el-tabs--card > .el-tabs__header .el-tabs__item {
  letter-spacing: 1.5px;
  border: none;
  color: #CCC;
  padding: 0 10px !important;
  min-width: 66px;
  text-align: center;
  height: 30px;
  line-height: 29px;
  margin-top: 2px;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  //border-bottom: 2px solid $prime_color;
  border-bottom: 2px solid rgba(32, 160, 255, 0.71);
  background-color: #434749;
  color: #FFF;
}

//.el-tabs__item .is-top .el-tabs__item:nth-child(2) {
//  padding-left: 0;
//}
.el-tabs--border-card {
  background: #46494b;
  border: 1px solid #666;
}

.el-tabs--top.el-tabs--border-card .el-tabs__item {
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
  color: #BBB;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
  min-width: 66px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.el-tabs--border-card > .el-tabs__header {
  background-color: #333;
  border-bottom: 1px solid #666;
  margin: 0;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #EEE;
  background: #46494b;
  border-right-color: #666;
  border-left-color: #666;
}

.el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child {
  padding: 0 8px;
}

.el-tabs--border-card > .el-tabs__content {
  padding: 6px;
}

//el-select

.el-select-dropdown {
  background: #46494b;
  border: 1px solid #666;
  color: #FFF;
}

.el-select-dropdown__item {
  background: #46494b;
  color: #DDD;
  &:hover {
    background: rgba(0, 0, 0, .1);
  }
  &.hover {
    background: rgba(0, 0, 0, .1);
  }
  &.selected {
    background: rgba(0, 0, 0, .2);
    //&:hover {
    //  background: #333;
    //}
  }
}

.el-switch__core {
  border: 1px solid #666;
  background: #333;
  &:after {
    background: #DDD;
  }
}

// el-dialog
.el-dialog {
  position: relative;
  margin: 10vh auto 50px!important;
  background: $dark_dialog_bgcolor;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  .el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #DDD;
  }
}

// .el-tree

.el-tree {
  background-color: #333;
  color: #DDD;

}

//.el-tree-node.is-current[aria-label="true"]{
//  background: rgba(60, 151, 224, 0.21);
//}

//.el-tree-node.is-current {
//  background: rgba(60, 151, 224, 0.21);
//}

.el-tree-node__content {
  &:focus {
    background-color: rgba(60, 151, 224, 0.21)!important;
  }
}

.el-tree-node>.el-tree-node__content {
  background: transparent!important;
}

.el-tree-node__content {
  &:hover {
    background-color: rgba(224, 224, 224, 0.06)!important;
  }
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: rgba(60, 151, 224, 0.21)!important;
}

.el-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  padding: 14px 26px 14px 13px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

