@import "element-ui";

.ctx-menu {
  width: 220px;
}

.ctrl-panel {
  .type-hint {
    display: inline-block;
    color: #CCC;
    font-size: 13px;
    margin-bottom: 8px;
    background: #2A2A2A;
    padding: 3px 10px 3px 6px;
    border-radius: 12px;
  }

  .ctrl-item {
    label {
      font-size: 14px;
      letter-spacing: 1px;
      color: #DDD;
      display: block;
    }
  }
}